$background-colour: #acc;
$done-colour: #888;

body {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: $background-colour;
  padding: 0;
  margin: 0;
}

.content {
  background-color: white;
  width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

ul {
  padding: 0;
  border-top: 2px solid $background-colour;
  border-bottom: 2px solid $background-colour;

  li {
    border-top: 1px solid $background-colour;
    font-size: 150%;
    list-style: none;
    padding: 10px 0;
    
    &:first-child {
      border-top: none;
    }

    &.done {
      color: $done-colour;
      text-decoration: line-through;
    }

    a {
      &:link, &:visited, &:active {
        text-decoration: none;
        color: black;
      }

      &:hover {
        text-decoration: line-through;
      }
    }
  }
}
